<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div class = "container">
    <div class="hero-unit">
      <h1>Create a new raffle</h1>
      <p><a class="btn btn-primary btn-large" href="create" >Create >></a></p>
    </div>
  </div>
</body>
</html>
