<h1>Users</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |u|%>
    <tr>
      <td><%= u.email %></td>
      <td><%= link_to "Delete", u, :method => :delete, :class => :destory %></td>
    </tr>
   <% end %>
  </tbody>
</table>
