  <div class = "span12">
    <div class = "hero-unit">
      <h1>The Great Rafflematron</h1>
      <p>This is for all of your raffle needs</p>
     </div>
     <div class = "row-fluid">
       <div class = "span3 offset1">
         <h2>Ongoing Raffles</h2>
         <% if user_signed_in? %>
           <p><a class = "btn" href = "../winners">Your Raffles</a></p>        
         <% end %>
       </div>
       <div class = "span3 offset1">
         <h2>Create a Raffle</h2>
         <% if user_signed_in? %>
           <p><a class = "btn" href = "../raffle/">Create Raffle</a></p>
         <% else %>
  	   <p><a class = "btn" href = "../users/sign_in">Sign in</a></p>
         <% end %>
       </div>
       <div class = "span3 offset1">   
       </div>
      </div>
    </div>
  </div>
